/* Write your code here. */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0f172a;
  height: 100vh;
}
.greeting {
  font-family: "Robot";
  font-size: 30px;
  text-align: center;
  color: #f8fafc;
}

.image {
  height: 400px;
  width: 400px;
  text-align: center;
}
